<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blacklisted IP Table</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
</head>

<body>
    <section>
        <h1>List of blacklisted IP Addresses</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>Last Timestamp</th>
                        <th>Entries last minute</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table id="ip_table" cellpadding="0" cellspacing="0" border="0">
              {% for key, value in data.items() %}
              <tr>
                  <th>{{ key }}</th>
                  <th>{{ value.last_timestamp }}</th>
                  <th>{{ value.entries_last_minute }}</th>
              </tr>
              {% endfor %}
            </table>
        </div>
    </section>
</body>

<script>
  setTimeout(function(){
     window.location.reload(1);
  }, 10000);
</script>
</html>
